.signature-capture {
  width: 100%;
}

.signature-canvas-container {
  border: 2px solid #1890ff;
  border-radius: 4px;
  overflow: hidden;
}

.signature-canvas {
  display: block;
  width: 100%;
  height: 200px;
  cursor: crosshair;
  background: #fff;
  touch-action: none;
  border: 1px dashed #d9d9d9;
  border-radius: 2px;
}

.signature-canvas:hover {
  border-color: #40a9ff;
}
